@import "neat"
@import "font-awesome"

@import "common"

@import "pages"
@import "users"

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600)

// Utilities

// Form

.errors
  @include span-columns(6 of 12)
  @include shift(3 of 12)

  background-color: $color-error
  color: white
  padding: 1em 1.5em
  margin-bottom: 2em

  p
    margin: 0
    font-size: 1.2em

.centre-form
  @include span-columns(8 of 12)
  @include shift(2)

  input, textarea, select
    width: 100%
    font-size: 1.2em
    font-weight: 300
    border: 2px solid $color-1
    padding: 0.4em 0.6em
    border-radius: 5px
    margin-bottom: 0.6em
    margin-top: 0

  [type=submit]
    background-color: $color-1
    color: white
    margin-top: 2em

  textarea
    height: 8em

// Layout

h1
  text-align: center
  font-size: 3em
  font-weight: 600

body
  margin: 0
  font-family: $sans-serif

.container
  @include outer-container

header
  background-color: $color-1
  padding: 0.8em 0

  .container
    position: relative

    .brand
      font-size: 2.2em
      color: white

    nav
      position: absolute
      right: 0
      bottom: 0
      float: right

      ul
        margin: 0

      li
        margin: 0
        font-size: 1.1em
        list-style: none
        display: inline-block
        font-weight: 400
        line-height: 2.5em
        padding: 0 0.8em
        color: white

        &:hover
          background-color: $color-1A

        a
          color: white
          margin: 0
          text-decoration: none

.flash
  @include span-columns(8 of 12)
  @include shift(2 of 12)

  color: white
  font-weight: 300
  padding: 1em 2em
  margin-top: 1em

  &.success
    background-color: $color-success

  &.error
    background-color: $color-error

footer
  background-color: $color-1
  padding: 0.8em 0
  margin-top: 2em

  p
    font-size: 1.2em
    text-align: center
    color: white

.event
  .join
    float: right
    text-decoration: none
    color: $color-1

  .title
    font-size: 1.4em
    font-weight: 600
    margin-top: 1em
    margin-bottom: 0
    // color: $color-1

  .details
    margin-bottom: 0.5em
    margin-top: 0

    a
      text-decoration: none
      color: $color-1

  .description
    margin-top: 0
    font-size: 1.2em
    margin: 0
