@import "common"

#users_show
  .edit_profile
    display: block
    width: 100%
    text-align: right
    color: $color-1A
    text-decoration: underline
    margin: 1em 0

  .avatar
    @include span-columns(6 of 24)
    @include shift(9 of 24)

    margin-top: 3em
    border-radius: 20px

  h2
    text-align: center
    font-size: 3em
    font-weight: 600
    margin-bottom: 0

  .skills
    font-size: 1.3em
    font-weight: 300
    text-align: center
    margin-top: 0.5em

    span
      padding: 0.2em 0.6em

    .skill
      font-size: 0.8em
      background-color: $color-1
      color: white
      margin: 0 0.1em
      border-radius: 3px

      a
        margin-left: 0.2em
        margin-right: -0.3em
        text-decoration: none
        border-radius: 2px
        color: white

  .add-skill
    font-size: 1.2em
    color: $color-1
    text-decoration: none
    text-align: center
    display: block
    margin: 0 auto


  .scoreboard
    @include span-columns(6 of 12)
    @include shift(3 of 12)

    border-radius: 10px

    padding: 1em 0
    background-color: $color-1
    z-index: -100

    margin-top: 2em

    .score, .desc
      color: white
      float: left
      text-align: center

    .score
      font-size: 3em
      width: 25%

    .desc
      width: 25%
      margin-top: 0.9em
      font-size: 1.2em
