@import "common"

#users_show
  .avatar
    @include span-columns(6 of 24)
    @include shift(9 of 24)

    margin-top: 3em
    border-radius: 20px

  h2
    text-align: center
    font-size: 3em
    font-weight: 600
    margin-bottom: 0

  .skills
    font-size: 1.3em
    font-weight: 300
    text-align: center
    margin-top: 0.5em

    span
      padding: 0.2em 0.5em

    .skill
      font-size: 0.8em
      background-color: $color-1
      color: white
      margin: 0 0.1em

  .scoreboard
    @include span-columns(6 of 12)
    @include shift(3 of 12)

    padding: 1em 0
    background-color: $color-1
    z-index: -100

    margin-top: 2em

    .score, .desc
      color: white
      float: left
      text-align: center

    .score
      font-size: 3em
      width: 25%

    .desc
      width: 25%
      margin-top: 0.9em
      font-size: 1.2em
